/* Base
   ========================================================================== */
@font-face {
  font-family: 'latoblack';
  src: url("../fonts/lato-black-webfont.eot");
  src: url("../fonts/lato-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-black-webfont.woff2") format("woff2"), url("../fonts/lato-black-webfont.woff") format("woff"), url("../fonts/lato-black-webfont.ttf") format("truetype"), url("../fonts/lato-black-webfont.svg#latoblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold-webfont.eot");
  src: url("../fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bold-webfont.woff2") format("woff2"), url("../fonts/lato-bold-webfont.woff") format("woff"), url("../fonts/lato-bold-webfont.ttf") format("truetype"), url("../fonts/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'droid_serifitalic';
  src: url("../fonts/droidserif-italic-webfont.eot");
  src: url("../fonts/droidserif-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/droidserif-italic-webfont.woff2") format("woff2"), url("../fonts/droidserif-italic-webfont.woff") format("woff"), url("../fonts/droidserif-italic-webfont.ttf") format("truetype"), url("../fonts/droidserif-italic-webfont.svg#droid_serifitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 57, ../sass/style.scss */
body {
  font-family: "Latoregular", sans-serif;
  font-size: 14px;
  line-height: 25px; }

/* line 63, ../sass/style.scss */
h2, h3 {
  margin: 0;
  font-family: "latoblack", sans-serif;
  text-transform: uppercase;
  color: #454545; }

/* line 70, ../sass/style.scss */
h2 {
  font-size: 16px; }

/* line 71, ../sass/style.scss */
h3 {
  font-size: 14px; }

/* line 75, ../sass/style.scss */
a {
  text-decoration: none;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s; }

/* line 80, ../sass/style.scss */
a img {
  vertical-align: top; }

/* Layout
   ========================================================================== */
/* line 85, ../sass/style.scss */
.container {
  width: 1170px;
  margin: 0 auto;
  *zoom: 1; }
  /* line 38, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both; }

/* line 91, ../sass/style.scss */
.row {
  margin: 0 -15px;
  *zoom: 1; }
  /* line 38, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
  .row:after {
    content: "";
    display: table;
    clear: both; }

/* line 98, ../sass/style.scss */
.navbar {
  position: relative;
  padding: 34px 0 35px;
  background-color: #2d2d30;
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25);
  z-index: 99; }
  /* line 105, ../sass/style.scss */
  .navbar-brand {
    float: left;
    margin: 0; }
    /* line 108, ../sass/style.scss */
    .navbar-brand a {
      display: block;
      width: 73px;
      height: 31px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background: url(../img/logo.png) no-repeat; }
  /* line 118, ../sass/style.scss */
  .navbar-nav {
    float: right; }

/* line 125, ../sass/style.scss */
.slider {
  display: table;
  width: 100%;
  height: 650px;
  text-align: center;
  color: #fff;
  background-size: cover;
  background: url(../img/slider.jpg) no-repeat; }
  /* line 133, ../sass/style.scss */
  .slider-content {
    display: table-cell;
    vertical-align: middle; }
    /* line 136, ../sass/style.scss */
    .slider-content h1 {
      margin: 0;
      font-family: "latobold", sans-serif;
      font-size: 40px;
      text-transform: uppercase; }
    /* line 142, ../sass/style.scss */
    .slider-content p {
      margin: 1.5em 0;
      font-family: "droid_serifitalic", serif;
      font-size: 28px;
      text-transform: lowercase; }

/* line 153, ../sass/style.scss */
.services {
  padding-top: 90px;
  text-align: center; }
  /* line 156, ../sass/style.scss */
  .services .service {
    float: left;
    width: 270px;
    margin: 0 15px; }
    /* line 160, ../sass/style.scss */
    .services .service p {
      margin-bottom: 70px;
      font-size: 14px;
      color: #8a8a8a; }

/* line 170, ../sass/style.scss */
.product {
  padding-bottom: 90px;
  text-align: center; }
  /* line 173, ../sass/style.scss */
  .product-content {
    width: 831px;
    margin: 0 auto; }
    /* line 176, ../sass/style.scss */
    .product-content p {
      margin-bottom: 40px;
      color: #8a8a8a; }
  /* line 181, ../sass/style.scss */
  .product-image {
    width: 831px;
    height: 448px;
    background: url(../img/products.png) no-repeat; }

/* line 190, ../sass/style.scss */
.portfolio {
  padding-top: 90px;
  padding-bottom: 75px;
  background-color: #2d2d30; }
  /* line 194, ../sass/style.scss */
  .portfolio-left {
    width: 270px;
    float: left; }
    /* line 197, ../sass/style.scss */
    .portfolio-left h2 {
      color: #dadada; }
    /* line 200, ../sass/style.scss */
    .portfolio-left p {
      margin: 40px 0;
      color: #a4a4a4; }
    /* line 204, ../sass/style.scss */
    .portfolio-left p.lead {
      margin-top: 10px;
      margin-bottom: 0; }
  /* line 209, ../sass/style.scss */
  .portfolio-right {
    float: right;
    width: 870px; }

/* line 217, ../sass/style.scss */
.testimonials {
  padding-top: 90px;
  text-align: center;
  background-color: #f1f1f1; }

/* line 226, ../sass/style.scss */
.blog {
  padding: 90px 0; }
  /* line 228, ../sass/style.scss */
  .blog-left {
    float: left;
    width: 270px; }
  /* line 232, ../sass/style.scss */
  .blog-right {
    float: right;
    width: 870px; }
  /* line 236, ../sass/style.scss */
  .blog-entry {
    float: left;
    width: 270px;
    margin: 0 15px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
    /* line 241, ../sass/style.scss */
    .blog-entry a {
      display: block;
      width: 270px;
      color: #8a8a8a;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -webkit-transition: all 1s;
      transition: all 1s;
      overflow: hidden; }
      /* line 247, ../sass/style.scss */
      .blog-entry a:hover p {
        color: #000; }
    /* line 251, ../sass/style.scss */
    .blog-entry h3, .blog-entry p {
      margin: 20px; }

/* line 259, ../sass/style.scss */
footer {
  padding: 1em;
  background-color: #333; }
  /* line 262, ../sass/style.scss */
  footer p {
    margin: 2em 0;
    color: #fff;
    text-align: center; }
    /* line 266, ../sass/style.scss */
    footer p a {
      color: #fff; }
      /* line 268, ../sass/style.scss */
      footer p a:hover {
        color: #82c6bf; }

/* Modules
   ========================================================================== */
/* line 280, ../sass/style.scss */
.nav {
  margin: 0 -2em 0 0;
  padding-left: 0;
  list-style-type: none; }
  /* line 284, ../sass/style.scss */
  .nav li {
    float: left;
    position: relative; }
    /* line 287, ../sass/style.scss */
    .nav li:before {
      position: absolute;
      top: 2px;
      left: -4px;
      color: #3f3f42;
      content: '\2022'; }
    /* line 294, ../sass/style.scss */
    .nav li:first-child:before {
      content: ''; }
    /* line 297, ../sass/style.scss */
    .nav li a {
      display: block;
      margin: 3px 0;
      padding: 0 2em;
      font-size: 12px;
      text-transform: uppercase;
      color: #d5d5d5; }
      /* line 304, ../sass/style.scss */
      .nav li a:hover {
        color: #82c6bf; }

/* line 313, ../sass/style.scss */
.btn {
  display: inline-block;
  width: 159px;
  height: 40px;
  margin: 0 5px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px; }
  /* line 326, ../sass/style.scss */
  .btn-ghost {
    background-color: transparent;
    border-color: #fff; }
    /* line 329, ../sass/style.scss */
    .btn-ghost:hover {
      background-color: rgba(255, 255, 255, 0.25); }
  /* line 333, ../sass/style.scss */
  .btn-primary {
    background-color: #82c6bf;
    border-color: #82c6bf; }
    /* line 336, ../sass/style.scss */
    .btn-primary:hover {
      background-color: #a5d6d1; }
  /* line 340, ../sass/style.scss */
  .btn-secondary {
    background-color: #47474d;
    border-color: #47474d; }
    /* line 343, ../sass/style.scss */
    .btn-secondary:hover {
      background-color: #5f5f68; }

/* line 72, icon/*.png */
.icon-sprite, .icon-heart, .icon-monitor, .icon-printer, .icon-responsive {
  background-image: url('/img/icon-s71c28ae66e.png');
  background-repeat: no-repeat; }

/* line 84, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-heart {
  background-position: 0 0; }

/* line 84, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-monitor {
  background-position: 0 -47px; }

/* line 84, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-printer {
  background-position: 0 -95px; }

/* line 84, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-responsive {
  background-position: 0 -149px; }

/* line 356, ../sass/style.scss */
.services i {
  display: inline-block;
  vertical-align: top; }
/* line 360, ../sass/style.scss */
.services .icon-responsive {
  width: 54px;
  height: 50px;
  margin-top: 4px; }
/* line 365, ../sass/style.scss */
.services .icon-monitor {
  width: 54px;
  height: 48px;
  margin-top: 6px; }
/* line 370, ../sass/style.scss */
.services .icon-printer {
  width: 54px;
  height: 54px; }
/* line 374, ../sass/style.scss */
.services .icon-heart {
  width: 51px;
  height: 47px;
  margin-top: 7px; }

/* line 384, ../sass/style.scss */
.lead {
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: "droid_serifitalic", serif;
  font-size: 16px;
  color: #878787; }

/* line 391, ../sass/style.scss */
.divider {
  width: 30px;
  margin: 30px auto;
  border: none;
  border-top: 1px solid #b8b8b8; }

/* line 400, ../sass/style.scss */
.gallery {
  margin: 0 -15px;
  *zoom: 1; }
  /* line 38, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
  .gallery:after {
    content: "";
    display: table;
    clear: both; }
  /* line 403, ../sass/style.scss */
  .gallery .thumbs {
    float: left;
    margin: 0 15px;
    margin-bottom: 30px; }
    /* line 407, ../sass/style.scss */
    .gallery .thumbs a {
      display: block;
      width: 270px;
      height: 220px;
      overflow: hidden; }
      /* line 412, ../sass/style.scss */
      .gallery .thumbs a img {
        vertical-align: top;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
      /* line 416, ../sass/style.scss */
      .gallery .thumbs a:hover img {
        -moz-transform: translateX(-14px);
        -ms-transform: translateX(-14px);
        -webkit-transform: translateX(-14px);
        transform: translateX(-14px); }

/* line 426, ../sass/style.scss */
.timeline {
  position: relative;
  padding-top: 20px;
  margin: 0;
  padding-left: 0;
  list-style-type: none; }
  /* line 432, ../sass/style.scss */
  .timeline:after {
    position: absolute;
    width: 2px;
    height: 513px;
    left: 50%;
    top: 0;
    margin-left: -1px;
    background-color: #e3e3e3;
    content: '';
    z-index: 0; }
  /* line 443, ../sass/style.scss */
  .timeline li {
    position: relative;
    margin-bottom: 60px;
    z-index: 99;
    *zoom: 1; }
    /* line 38, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
    .timeline li:after {
      content: "";
      display: table;
      clear: both; }
    /* line 448, ../sass/style.scss */
    .timeline li .avatar {
      position: absolute;
      width: 87px;
      height: 87px;
      top: 0;
      left: 50%;
      margin-left: -43.5px; }
    /* line 456, ../sass/style.scss */
    .timeline li .client {
      position: absolute;
      top: 0; }
      /* line 459, ../sass/style.scss */
      .timeline li .client h3 {
        margin-top: 1em; }
      /* line 462, ../sass/style.scss */
      .timeline li .client em {
        font-size: 16px;
        color: #878686; }
    /* line 467, ../sass/style.scss */
    .timeline li blockquote {
      position: relative;
      margin: 0;
      width: 525px;
      padding: 1em;
      font-size: 18px;
      line-height: 30px;
      color: #878686;
      background-color: #fff;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1); }
      /* line 478, ../sass/style.scss */
      .timeline li blockquote:after {
        position: absolute;
        top: 20px;
        content: '';
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; }
    /* line 487, ../sass/style.scss */
    .timeline li.left .client {
      left: 50%;
      margin-left: 80px;
      text-align: left; }
    /* line 492, ../sass/style.scss */
    .timeline li.left blockquote {
      float: left;
      text-align: right; }
      /* line 495, ../sass/style.scss */
      .timeline li.left blockquote:after {
        right: -10px;
        border-left: 10px solid #fff; }
    /* line 502, ../sass/style.scss */
    .timeline li.right .client {
      right: 50%;
      margin-right: 80px;
      text-align: right; }
    /* line 507, ../sass/style.scss */
    .timeline li.right blockquote {
      float: right;
      text-align: left; }
      /* line 510, ../sass/style.scss */
      .timeline li.right blockquote:after {
        left: -10px;
        border-right: 10px solid #fff; }
